@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #000000;
}

@media (prefers-color-scheme: dark) {
	/* :root {
		--background: #0a0a0a;
		--foreground: #ededed;
	} */
}

body {
	font-family: "Lexend", sans-serif;
}