@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #000000;
}

@media (prefers-color-scheme: dark) {
	/* :root {
		--background: #0a0a0a;
		--foreground: #ededed;
	} */
}

body {
	font-family: "Lexend", sans-serif;
}

.tab-underline {
	position: relative;
}

.tab-underline::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 2px;
	background-color: transparent;
	transition: background-color 200ms ease-in-out;
	outline: none
}

.tab-underline[data-hover]::after {
	background-color: #dbe4ff;
}

.tab-underline[data-selected]::after {
	background-color: #4263eb;
}

.button-responsive {
	font-size: 0.875rem;
	height: 2.25rem;
	padding-left: 12px;
	padding-right: 12px;
}

@media (min-width: 1024px) {
	.button-responsive {
		font-size: 1rem;
		height: 2.5rem;
	}
}

.icon-responsive {
	width: 1rem;
	height: 1rem;
}

@media (min-width: 1024px) {
	.icon-responsive {
		width: 1.25rem;
		height: 1.25rem;
	}
}

.text-responsive {
	font-size: 0.875rem;
}

@media (min-width: 1024px) {
	.text-responsive {
		font-size: 1rem;
	}
}