@config "../../tailwind.config.ts";
@import "tailwindcss";

@layer components {
	.admin-page-layout-default {
		@apply flex flex-col gap-4 h-full;
	}

	.admin-page-first-container-default {
		@apply h-9 shrink-0 flex justify-between items-center;
		@apply lg:h-10;
	}

	.admin-page-side-view-default {
		@apply absolute z-20 flex flex-col rounded-lg overflow-hidden;
		@apply bg-white border border-primary-border;
		@apply top-17 bottom-4 right-4;
		@apply lg:top-18 not-md:left-4 md:w-140;
		@apply h-fit max-h-[calc(100dvh-9.25rem)] lg:max-h-[calc(100dvh-5.5rem)]
	}

	.admin-page-side-view-header-default {
		@apply flex justify-between p-4 pl-0 ml-4 border-b border-primary-border shrink-0;
	}

	.admin-page-side-view-row-title-default {
		@apply flex-1 text-primary-text h-9 lg:h-10 flex items-center;
	}

	.admin-page-side-view-part-default {
		@apply flex flex-col gap-3 p-4 pl-0 ml-4 shrink-0 border-b border-primary-border;
	}

	.tab-underline {
		@apply relative;

		&::after {
			@apply content-[''] absolute -bottom-px left-0 right-0 h-0.5 bg-transparent transition-colors duration-200 ease-in-out outline-none;
		}

		&[data-hover]::after {
			@apply bg-[#dbe4ff];
		}

		&[data-selected]::after {
			@apply bg-[#4263eb];
		}
	}
}