@config "../../tailwind.config.ts";
@import "tailwindcss";


@layer components {
	.button-default {
		@apply h-9 px-3;
		@apply bp4:h-10;
	}

	.text-default {
		@apply text-sm;
		@apply bp4:text-base;
	}

	.icon-default {
		@apply w-4 h-4;
		@apply bp4:w-5 bp4:h-5;
	}

	.input-text-default {
		@apply w-full h-full border-none outline-none;
	}

	.input-container-default {
		@apply flex items-center gap-3;
		@apply h-9 px-3;
		@apply bp4:h-10;
	}

	.input-container-outline-default {
		@apply outline-1 outline-primary-outline rounded-md;
		@apply focus-within:outline-2 focus-within:outline-secondary-blue-dark;
	}

	.input-container-outline-black {
		@apply outline-1 outline-black/20 rounded-md;
		@apply focus-within:outline-2 focus-within:outline-secondary-blue-dark;
	}

	.disabled {
		@apply bg-primary-bg-100 cursor-not-allowed;
	}
}

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}

	.flex-between-center {
		@apply flex justify-between items-center;
	}

	.transition-default {
		@apply transition duration-200 ease-in-out;
	}

	.no-calendar-icon::-webkit-calendar-picker-indicator {
		display: none !important;
	}
}